<%= form_for ([@post, @comment]) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>]

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :post_id, value: @post.id %>


  <%= f.submit class: "btn btn-primary" %>

<% end %>
