<%= form_for [@image_post, @image_post.comments.build] do |f| %>



<div class="form-group">
  <%= f.label :Comment %>
  <%= f.text_area :body, class: "form-control" %>
</div>

<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :image_post_id, value: @image_post.id %>


<%= f.submit class: "btn btn-primary" %>

<% end %>
