<div class="page-header" >
  <div class="span12" style="text-align: center;">


   <h1 class="pagination centered">A Listing of Comments for <%= @text_post.title %></h1>
 </div></div>

 <%= form_for [@text_post, @text_post.comments.build] do |f| %>



 <div class="form-group">
  <%= f.label :Comment %>
  <%= f.text_area :body, class: "form-control" %>
</div>

<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.hidden_field :text_post_id, value: @text_post.id %>


<%= f.submit class: "btn btn-primary" %>

<% end %>
